.table {
  width: 80%;
  margin: 0 auto;
}
.table__item {
  text-align: left;
}
table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid rgba(197, 195, 195, 0.432);
}
th,
td {
  width: 16.5%;
}
