.layout {
  position: relative;
  margin: 0 10% 0;
  border-radius: 1rem;
  background-color: var(--white);
}

@media (max-width: 900px) {
  .layout {
    margin: 0 auto;
    border-radius: 0px;
  }
}
